html,
body {
  height: 100%;
  margin: 0;

}

body {
  background: url('./assets/lib.png')  no-repeat top center fixed;
  background-size: cover;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}